.cardcontainer{
    display: flex;
    justify-content: space-around;
}
.indexcard{
    width: 30%;
}
.formstyle{
    display: flex;
    flex-direction: column;
    height: 50%;
    min-height: 85vh;
    align-items: center;
    justify-content: center;

}
.btn{
    margin-top: 1%;
}
.planning{
    height:100%;
    width:100%;
}
.planning td{
    width:20%;
    text-align: center;
}
.planning tr{
    height:10%;
}
.planning th{
    text-align: center !important;
}
.cardreservation{
    height: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardreservation .card{
    width:35%;
    padding-bottom: 2%;
    text-align: center;
}
.title{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;

}